#dwellerCard {
    margin: 0 auto 80px;
}

#dwellerCard input {
    width: 90%;
    padding: 0 5%;
    margin: 5px auto 15px;
    outline: none;
}

#dwellerCard input::placeholder {
    color: rgba(255, 255, 255, 0.5)
}

#dwellerCard label {
    width: 85%;
    margin: auto;
}

#dwellerCard label:first-of-type {
    margin-top: 30px;
}

#addUserDataBt {
    margin: 44px auto -54px !important;
}